*main.c
0-node
1-left
2-right
3-del
4-leaf
5-root
6-pre
7-in
8-post
9-height
10-depth
11-size
12-leaves
13-nodes
14-balance
15-full
16-perfect
17-sibling
18-uncle
100-ancestor
101-lvl
102-complete
103-rotl
104-rotr
110-is_bst
111-bst_insert
112-bst_array
113-bst_search
114-bst_rm
120-is_avl
121-avl_insert
124-avl_sorted
130-is_heap
131-heap_insert
132-heap_array
100-backup_binary_trees_ancestor.c
